/* CSS CODE FOR THE HEADER */   

.header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height:55px;
    margin-bottom:20px;

    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color:rgba(128, 128, 128, 0.336);
    z-index:100;

}

.middle-section{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    height:100%;
    margin-left:40px;
    margin-right:40px;
    max-width: 600px;
}

.left-section{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:200px;
    height:100%;
}

.hamburger-menu{
    padding: 0 25px;
}
.right-section{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    width:250px;
    height:100%;
    flex-shrink:0;
}

.notific-div{
    position:relative;
    text-align:center;
}

.notific-time{
    position:absolute;
    background-color: rgb(155, 4, 4);
    top:-3px;
    right:-5px;
    font-size:11px;
    border-radius: 10px;
    padding: 2px 6px;
    font-weight:500;
    color:white;
}



.searchbar{
    flex:1;
    height:35px;
    border:none;
    padding-left:10px;
    border-top-left-radius:2px ;
    border-bottom-left-radius:2px ;
}

.searchbar::placeholder{
    font-family:Roboto;
    font-size:16px;
}


.searchbar,
.search-button-outline{
    border:1px solid rgba(128, 128, 128, 0.377) ;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.055);
    width:0;  /* reduces minimum width to 0 */
}

.youtube-logo{
    height: 20px;
}

.upload-logo,
.apps-logo,
.notifi-logo,
.mychannel-logo,
.voice-search,
.hamburger-menu,
.search-button{
    height:24px;
}

.mychannel-logo{
    width:32px;
    height:32px;
    border:none;
    border-radius:18px;
}

.search-button{
    padding-top:4.5px;
    padding-bottom:4.5px;
    
}

.search-button-outline{
    background-color: rgb(247, 247, 247);
    margin-right:10px;
    margin-left:-1px;
    width:70px;
    height:39px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}
.search-button-outline,
.voice-search-outline,
.upload-outline,
.ytapps-outline,
.notific-div{
    position:relative;
} 

.search-button-outline .tooltip,
.voice-search-outline .tooltip,
.upload-outline .tooltip,
.ytapps-outline .tooltip,
.notific-div .tooltip{
    padding: 5px;
    border-radius:5px;
    position:absolute;
    bottom:-35px;
    color:white;
    background-color: rgba(0, 0, 0, 0.479);
    opacity:0;
    transition:opacity 0.15s;
    pointer-events:none;
    white-space: nowrap;
}

.search-button-outline:hover .tooltip,
.voice-search-outline:hover .tooltip,
.upload-outline:hover .tooltip,
.ytapps-outline:hover .tooltip,
.notific-div:hover .tooltip{
    opacity:1;
}

.voice-search-outline .tooltip{
    left:-50px;
}

.upload-outline .tootlip,
.ytapps-outline .tooltip,
.notific-div .tooltip,
.upload-outline .tooltip{
    font-size: 13px;
    position:absolute;
    left:-10px;
}


.voice-search-outline{
    height:40px;
    width:40px;
    border-style:solid;
    border-color:rgb(248, 248, 248);
    border-radius:30px;
    position:relative;
}

.sidebar-header{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:72px;
    top:50px;
    left:0;
    background-color:white;
    padding-top:6px;
    cursor:pointer;
    
}

.side-button{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: white;
    border:none;
    cursor:pointer;
}

.side-button:hover{
    background-color: rgba(211, 211, 211, 0.486);
}
.sidebar-header img{
    height:24px;
    padding-top:16px;
    padding-bottom:5px;


}

.side-button-txt{
    font-size:10px;
    padding-bottom: 16px;
}